body{
          background-color: rgb(43, 43, 43);
          color: rgb(205, 233, 255);
}
header{
          text-align: center;
          font-size: 2.5rem;
          font-weight: lighter;
          box-shadow: 0 1rem 1rem 0px rgb(29, 29, 29);
          padding: 5px;
}
img{
          margin-left: 40%;
          margin-top: 10%;
}
#dice{
          src: url(./dice1.png);
}